@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h4, h6, span, p, label {
    font-family: "Merriweather", sans-serif;
}

.collection {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 8px purple;
    border-radius: 5px;
}

.collection:hover {
    transform: rotate(-3deg);
}

.collection h5 {
    color: var(--headColor);
    font-size: 1.5rem;
    margin: 1rem 0;
}

.collection p {
    color: var(--textColor);
    text-align: justify;
}

.gall-cat-img {
    width: 100%;
}

.gall-cat-img img{
    width: 100%;
    object-fit: cover;
}

.gallery-subh {
    color: var(--textColor);

}
