/* styles.css */
body {
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
    font-family: "Trebuchet MS", "Lucida Sans Unicode";
}
.favbg {
    background-color: #513f83;
    color: white;
}
/* preloader */
/* Preloader styles */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dark fade background */
    display: fll;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
#spinner {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border: 3px solid #ccc; /* Adjust as needed */
    border-top-color: #333; /* Adjust as needed */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Hide the preloader when page is fully loaded */
body.loaded #preloader {
    display: none;
}

/* Hide content when preloader is shown */
body:not(.loaded) #content {
    display: none;
}

/* university header tag */
.uniHeader {
    background-color: #3b2a68;
    color: white;
}

.marquee {
    border-right: 1px solid #fff;
    text-align:center;
    padding: 0 10px;
    color: white;
}

.marquee:hover {
    color: white;
}

/* night-mode.css */
.night-mode {
    color: #fff !important;
    background-color: #0f1520 !important;
    font-family: "Trebuchet MS", "Lucida Sans Unicode";
}
.dark-orange {
    color: #e000e7 !important;
}

/* navbar css */
.navbar-nav .nav-link {
    color: white;
    font-size: 18px;
}
/* CSS to enable hover for dropdown */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
/* multi-level dropdoen */
/* .dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
} */

.slide-in-down .nav-item {
    animation: slide-in-down 0.5s ease forwards;
    opacity: 0;
    animation-fill-mode: forwards;
}

.slide-in-down .nav-item:nth-child(1) {
    animation-delay: 0.2s; /* Delay */
}

.slide-in-down .nav-item:nth-child(2) {
    animation-delay: 0.4s;
}

.slide-in-down .nav-item:nth-child(3) {
    animation-delay: 0.6s;
}

.slide-in-down .nav-item:nth-child(4) {
    animation-delay: 0.9s;
}

.slide-in-down .nav-item:nth-child(5) {
    animation-delay: 1.2s;
}

.slide-in-down .nav-item:nth-child(6) {
    animation-delay: 1.4s;
}

.slide-in-down .nav-item:nth-child(7) {
    animation-delay: 1.6s;
}

.slide-in-down .nav-item:nth-child(8) {
    animation-delay: 1.8s;
}

@keyframes slide-in-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.sliderArrows {
    color: #e000e7;
}
/* coursel images */
.landing-image {
    background-image: linear-gradient(rgba(0, 10, 10, 0.1), #513f83),
        url("../img/university-image1.JPG");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
}
.landing-image-campus {
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
}
/* curvy for about page */
.custom-shape-divider-bottom-1713166410 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1713166410 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 174px;
}

.custom-shape-divider-bottom-1713166410 .shape-fill {
    fill: #fff;
}

/* coursel images */
.background-container {
    /* height: 100vh; */
    position: relative;
    overflow: hidden;
    /* animation: zoomInOut 10s infinite alternate; */
}
.nav-content {
    position: absolute;
    top: 37%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-weight: bolder;
}
.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* background: rgba(1, 2, 2, 0.1); */
}

a {
    text-decoration: none;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
.admissionBtn {
    padding: 8px;
    /* width: 20%; */
    border: 1px solid #fff;
    color: #fff;
    border-radius: 8px;
    background: linear-gradient(to left, #513f83, #e000e7);
}
.admissionBtn:hover {
    background-color: #e000e7;
    transition: 0.7s;
    transform: scale(1.1);
}

/* overlay image for welcome section */
.image-container {
    position: relative;
}
.overlay-image {
    position: absolute;
    border-radius: 8px;
    border-bottom: 5px solid #513f83;
    top: 70%;
    left: 100px;
    width: 60%;
    /* height: 250px; */
}
.welcomeBtn {
    padding: 5px;
    /* width: 30%; */
    border: 1px solid #fcfbfd;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(to left, #513f83, #e000e7);
}
.welcomeBtn:hover {
    color: white;
    transition: 0.7s;
    transform: scale(1.1);
}
/*media Query For welcome Section */
@media only screen and (max-width: 992px) {
    .welcomeImgContainer {
        margin-bottom: 40px;
    }
}
@media only screen and (max-width: 768px) {
    .overlay-image {
        margin-top: -40px;
    }
}
@media only screen and (max-width: 992px) {
    .overlay-image {
        margin-top: -30px;
    }
}
/* overlay image for news and updates section */
.image-containerNews {
    position: relative;
}
@media only screen and (max-width: 768px) {
    .contain {
        padding-bottom: 255px;
    }
}
/* @media only screen and (max-width: 768px) {
    .secondCard {
        padding-top: 150px;
    }
}
@media only screen and (max-width: 480px) {
    .secondCard {
        padding-top: 150px;
    }
} */
@media only screen and (max-width: 486px) {
    .secondCard {
        padding-top: 130px;
    }
}
@media only screen and (max-width: 430px) {
    .secondCard {
        padding-top: 130px;
    }
}
@media only screen and (max-width: 992px) {
    .secondCard {
        padding-top: 130px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.newsBtn {
    padding: 8px;
    /* width: 30%; */
    border: 1px solid #fff;
    color: #fff;
    border-radius: 8px;
    background: linear-gradient(to left, #513f83, #e000e7);
}
.newsBtn:hover {
    transition: 0.8s;
    transform: scale(0.9);
}
.overlay-newsImage {
    position: absolute;
    border-radius: 8px;
    border-bottom: 2px solid #513f83;
    color: #000;
    top: 80%;
    margin-left: 33px;
    width: 90%;
}
/* css for news section ends here */

/* css for why choose us starts here */
.whyButtons {
    padding: 5px;
    width: 50%;
    border: 1px solid #513f81;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(to left, #513f83, #e000e7);
}
.whyButtons:hover {
    background: linear-gradient(to bottom, #513f83, #e000e7);
    color: white;
    transition: 1s;
}
/* css for choose us section ends here */

/* css for explore more section starts here */
.explore {
    background: linear-gradient(rgba(0, 0, 0, 0.1), #000), url("../img/campus-life/0J3A0457MWECAU.JPG");
    background-size: cover;
    background-position: center;
    height: 460px;
    width: 100%;
    position: relative;
}
.exploretxt {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
}
.exploretxt h1 {
    font-size: 4rem;
    font-family: "Trebuchet MS", Arial, sans-serif;
}
.exploreBtn {
    padding: 15px;
    /* width: 40%; */
    border: 1px solid #fff;
    color: #fff;
    border-radius: 8px;
    background: linear-gradient(to right, #513f83, #ff42ef);
}
.exploreBtn:hover {
    transition: 0.9s;
    transform: scale(1.1);
}
/* css for explore section in index page ends here */

/* box shadow for the cards in section studying at Mwenge Catholic University */
.bottomBorder {
    border-radius: 9px;
    border-bottom: 5px solid #513f83;
    border-top: 5px solid #513f83;
    border-style: double;
    box-shadow: 0 0 1px #513f83;
}
.coursesBorder {
    border-radius: 9px;
    border-bottom: 2px solid #e000e7;
    /* border-top: 2px solid #e000e7; */
}
/* hovering cards on section studying at mwenge catholic university image effect */
.bottomBorder img {
    transition: transform 0.8s;
}
.bottomBorder img:hover {
    transform: scale(1.1);
    width: 100%;
}
.studyingAtMwenge {
    transition: transform 1s;
    height: 490px;
}
/* @media (min-width: 462px) and (max-width: 766px) {
    .programsBtn {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
} */

.studyingAtMwenge:hover {
    transform: scale(1);
    box-shadow: 1px 1px 13px #e000e7;
    width: 100%;
}
/* css for studying at mwenge section ends here */

/* for upcoming events section */
.upComingEvent {
    background-image: linear-gradient(rgba(30, 90, 0, 0.1), #371d38),
        url("../img/uni.jpg");
    background-size: cover;
    background-position: center;
    height: 460px;
    width: 100%;
    position: relative;
}
.upComingEventText {
    position: absolute;
    top: 60%;
    width: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
}
.upComingEvent2 .card {
    border: none;
    /* height: 320px; */
    border-left: 2px solid #513f83;
    border-right: 2px solid #513f83;
}
.upComingEvent2 img {
    object-fit: cover;
}
.upComingEvent2 img:hover {
    transform: scale(1.1);
    transition: 0.9s;
}
.eventsBtn1 {
    padding: 8px;
    width: 30%;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 3px;
    background-color: #e000e7;
}
.eventsBtn {
    padding: 10px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 8px;
    background: linear-gradient(to left, #513f83, #e000e7);
}
/* css for event section in index page ends here */

/*css for favorite color for icons starts here */
.icons {
    color: #513f83;
}
/* css for mission-card in about page */
.mission-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px;
    /* box-shadow: 6px 6px 5px 5px #513f83; */
}
.missionBtn {
    padding: 5px;
    width: 50%;
    border: none;
    color: #fff;
    border-radius: 5px;
    background: linear-gradient(to left, #513f83, #e000e7);
}

/* underline decor line for h1 tag */
.underline {
    position: relative;
    display: inline-block;
}
.underline h1:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    /* Adjust this to change the width of the line */
    margin: auto;
    border-bottom: 3px solid rgb(105, 9, 85);
    /* Adjust this to change the style of the line */
}

/* a favorite site color */
.favColor {
    color: #513f83;
}
.favBackground {
    background-color: #513f83;
}
.a .icon {
    width: 50px;
    height: 50px;
    color: var(--color);
    -webkit-box-reflect: below 2px
        linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.academics1 {
    background-image: linear-gradient(rgba(223, 118, 230, 0), #513f81),
        url("../img/sample-banner2.jpg");
    background-size: cover;
    background-position: center;
    height: 460px;
    width: 100%;
    position: relative;
}
.academicsText1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
}

.academics2 {
    background-image: url("../img/campus-life/mwecau_image1.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    min-height: 470px;
    width: 100%;
    position: relative;
}
.academicsText2 {
    position: absolute;
    top: 50%;
    left: 50%;
    /* color: white; */
    transform: translate(-50%, -50%);
}

.academics2 h3 {
    font-style: italic;
    font-weight: bold;
    color: #513f83;
    font-family: "Trebuchet MS", Arial, sans-serif;
}
/* Additional styling for small screens */
@media (max-width: 990px){
    .academics2{
        height: 1050px;
    }
}
@media (max-width: 767px) {
    .academicsText2 {
        margin-top: 40px;
    }

    .academics2 {
        min-height: 590px;
    }
}
/* overlay image for card in academics section */
.academics-container {
    position: relative;
}
.overlay-academicsCard {
    position: absolute;
    border-radius: 8px;
    border-bottom: 5px solid #513f83;
    top: 30%;
    left: 500px;
    width: 100%;
    height: 250px;
}
/* cards in academics page */
.right {
    margin-bottom: 100px;
    margin-left: -190px;
}
.right .card {
    border: 1px solid #4b1a4d;
    box-shadow: 1px 5px 30px #e000e7;
    margin-top: 50px;
}
@media only screen and (max-width: 768px) {
    .right {
        width: 98%;
        margin: 0;
        margin-top: -130px;
        text-align: justify;
    }
}

.left2 {
    margin-bottom: 100px;
    margin-right: -190px;
}
.left2 .card {
    border: 1px solid #4b1a4d;
    box-shadow: 1px 3px 18px #e000e7;
    margin-top: 50px;
}
@media only screen and (max-width: 768px) {
    .left2 {
        width: 98%;
        margin: 0;
        margin-top: -130px;
        /* margin-left: 100px; */
        text-align: justify;
    }
}
@media only screen and (max-width: 856) {
    .left2 {
        width: 98%;
        margin: 0;
        margin-top: -130px;
        margin-left: 100px;
        text-align: justify;
    }
}
/* css for academics */
.programsCards {
    transition: transform 1s;
    height: 360px;
}
.programsCards:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 13px #e000e7;
    width: 100%;
}

/* style for buttons on about page */
.programsBtn {
    padding: 5px;
    border: 1px solid #513f81;
    color: #fff;
    border-radius: 5px;
    background-color: #e000e7;
}
.programsBtn:hover {
    /* background-color: #513f81; */
    color: white;
    transition: 0.8s;
    transform: scale(1.1);
}
/* style for buttons on course details page */
.courseBtn {
    width: auto;
    padding: 8px;
    border: 1px solid #513f81;
    color: #fff;
    border-radius: 5px;
    background-color: #513f83;

    display: inline-flex;
    align-items: end;
}

/* style for buttons on about page */
.learnBtn {
    padding: 5px;
    /* width: 0%; */
    border: 1px solid #513f81;
    color: #fff;
    border-radius: 5px;
    background-color: #513f83;
}
.learnBtn:hover {
    /* background-color: #513f81; */
    color: white;
    transition: 0.8s;
    transform: scale(1.1);
}
.learnBtn2 {
    border: none;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    background-color: #e000e7;
}
/* for website footer section */
.footer-container {
    background-image: linear-gradient(rgba(47, 14, 49, 0.8), #513f81),
        url("/img/uni.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    position: relative;
}
.footer-container a {
    text-decoration: none;
}
.footerText {
    color: white;
}

/* sulee */

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.0);
}

.background-container {
    height: 100vh;
    position: relative;
    overflow: hidden;
    animation: zoomInOut 10s infinite alternate;
}

a {
    text-decoration: none;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.nav-content {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    font-weight: bolder;
}

.nav-content p {
    font-size: 20px;
    margin: 20px 0;
}

.admission-btn {
    background-color: rgb(177, 28, 177);
    color: white;
}

.admission-btn:hover {
    background-color: white;
    color: rgb(177, 28, 177);
}

.about-container {
    margin: 10px auto;
    padding: 10px;
}

.about-container h3,
.academic-cont h3 {
    color: rgb(177, 28, 177);
    font-size: 25px;
    margin-bottom: 10px;
    font-stretch: expanded;
    border-bottom: 2px solid rgb(177, 28, 177);
}

.about-container p {
    font-size: 20px;
    text-align: justify;
}

.mission-block {
    padding: 30px 5px;
}

.mission-card {
    display: flex;
    border-radius: 8x;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 12px #513f83;
}

.mission-card:hover {
    transition: 0.9s;
    transform: translateY(-40px);
    box-shadow: 1px 1px 17px #e000e7;
}

.academic-cont {
    margin: 100px 10px;
}


/* contact */
.contact-content {
    padding: 5px;
}

.contact-content label {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-content p {
    font-size: 16px;
}

.contact-box p {
    font-size: 18px;
    font-weight: 600;
}

.contact-form {
    padding: 10px;
    margin: 5px;
}

.form-inputs label,
.contact-box label {
    margin: 3px;
    color: rgb(65, 62, 62);
}

.form-inputs input,
textarea {
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: whitesmoke;
    margin: 5px;
}

.form-btn {
    background-color: #513f83;
    color: white;
    margin: 10px;
}

.form-btn:hover {
    background-color: white;
    color: #513f83;
    border: 1px solid #513f83;
}
.contact-map {
    width: 100%;
    height: 650px;
}

/* gallery */
.gallery {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 10px;
}

.gallery-cont img {
    width: 100%;
    height: 280px;
}

/* partners */
.partners {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.partner {
    padding: 10px;
}

.partner img {
    width: 80%;
    height: 150px;
    border-radius: 10%;
}

/* Events */
.find-events {
    width: 100%;
    max-width: 98%;
    padding: 15px;
    margin: 10px auto;
    background-color: white;
    border-radius: 5px;
}

.event-form {
    width: 100%;
    display: flex;
    align-items: center;
}

.form-group {
    width: 30%;
    display: flex;
    align-items: center;
}

.event-form {
    padding: 10px;
    border-bottom: 2px solid #513f83;
}

.event-form input,
select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 1px #513f83;
}

.search-btn {
    border: none;
    border-radius: 5px;
    padding: 8px;
    background-color: #513f83;
    color: white;
    cursor: pointer;
}

.search-btn:hover {
    background-color: white;
    color: #513f83;
    border: 1px solid #513f83;
}

.event-img {
    overflow: hidden;
}

.event-img img {
    width: 100%;
    height: 200px;
    border-radius: 3px;
    transition: transform 0.8s;
}

.main-events {
    background-color: white;
    padding: 20px;
    border-radius: 2px;
    margin: 10px;
}

.events-cont {
    margin: 15px 30px;
    padding: 10px;
    border-bottom: 1px solid rgb(230, 226, 226);
}

.events-cont:hover .event-img img {
    transform: scale(1.1);
}

.stamps {
    display: flex;
    align-items: center;
}

.stamps i,
.stamps span,
.event-content p,
.event-content label {
    font-weight: normal;
    font-size: 17px;
    margin: 8px 5px;
    color: rgb(92, 89, 89);
    text-align: justify;
}

.event-btn {
    margin-top: 30px;
    width: 100%;
}

.link {
    color: black;
}
.link:hover {
    color: #513f83;
}

/* event */
.event-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    margin: 10px 0;
}

.event-header p {
    font-size: 20px;
    color: rgb(78, 76, 76);
    margin-top: 30px;
}

.event-header h2 {
    font-size: 45px;
    margin: 0 0 20px 0;
}

.event-header img {
    width: 90%;
}

.event-row {
    width: 90%;
    margin: 10px auto;
    padding: 0;
    display: flex;
}

.about-event {
    width: 100%;
    margin: 10px 0;
    padding: 50px;
    background-color: white;
}

.about-event p {
    font-size: 18px;
    color: rgb(78, 76, 76);
    text-align: justify;
}

.other-event-det,
.event-speaker,
.event-thoughts {
    background-color: white;
    padding: 30px;
    margin: 10px 0;
    height: fit-content;
}

.other-event-det {
    position: sticky;
    top: 0;
    bottom: 0;
}

.event-detail {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px solid #cbc0e7;
}

.event-detail div {
    display: flex;
    align-content: center;
}

.event-detail div i {
    margin: 0 10px;
    color: #513f83;
}

.event-detail div h6 {
    font-weight: 600;
}

.event-detail label {
    color: rgb(88, 87, 87);
}

.exp-flag {
    background-color: #a895dd;
    padding: 5px;
    border-bottom: none;
    border-left: 3px solid #513f83;
}

.event-socials {
    border-bottom: none;
    padding: 10px;
    margin: 10px 0;
}

.event-socials i {
    border: 1px solid #cbc0e7;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.event-socials i:hover {
    background-color: #513f83;
    color: white;
}

.speaker-profile {
    width: 100%;
    padding: 10px;
    margin: 5px;
    display: flex;
}

.speaker-profile img {
    width: 25%;
    margin-right: 25px;
    border-radius: 50%;
}

.speaker-details {
    margin: 5px;
    padding: 5px;
}

.speaker-details h5 {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 2px;
}

.speaker-details label,
.speaker-details p {
    color: rgb(94, 92, 92);
    margin-bottom: 10px;
}

.event-form2 {
    width: 100%;
    flex-direction: column;
    border: none;
}

.event-form2 input {
    width: 48%;
    border: 1px solid #513f83;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 1px #513f83;
}

.event-form2 textarea {
    width: 98%;
    border: 1px solid #513f83;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 1px #513f83;
}

.event-inputs {
    width: 100%;
    display: flex;
}

/* CAMPUS LIFE */
.campus-row {
    margin: 10px 10px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.campus-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.campus-card img {
    width: 90%;
    height: 240px;
    transition: transform 0.8s;
}

.campus-card .card-title {
    color: black;
    font-weight: 600;
    margin: 10px 0;
    font-size: 20px;
}

.campus-card p {
    color: rgb(99, 97, 97);
    font-size: 18px;
}

.campus-card:hover .card-img-top {
    transform: scale(1.1);
}

.talent-cont {
    margin: 30px 10px 30px auto;
    padding: 20px 5px;
}

.talent-content-container {
    width: 70%;
    margin-left: auto;
    background-color: white;
    display: flex;
    padding: 30px;
    align-items: center;
}

.talent-pics {
    width: 80%;
    height: auto;
    margin-left: -45%;
    margin-right: 10px;
    /* position: relative; */
}

.talent-content {
    width: 75%;
    margin-left: auto;
    padding: 10px;
}

.talent-content-container p {
    font-size: 20px;
    color: rgb(99, 97, 97);
    margin-bottom: 20px;
}

.talent-content-container h3 {
    margin-bottom: 20px;
    font-size: 22px;
    color: rgb(99, 97, 97);
}

.talent-pics img {
    width: 100%;
    max-width: 600px;
    margin: 5px;
    cursor: pointer;

}

.pic-nav h3 {
    cursor: pointer;
}

.fade-in {
    display: block;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: none;
}

.campus-gallery {
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-pic {
    height: auto;
    width: 22%;
    margin: 10px;
    overflow: hidden;
    position: relative;
}

.campus-gallery-img {
    width: 100%;
    transition: transform 1s;
    z-index: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.gallery-pic:hover .campus-gallery-img {
    cursor: pointer;
    transform: scale(1.1);
}

.gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(81, 63, 131, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery-pic:hover .gallery-overlay {
    opacity: 1;
}

.gallery-overlay-icon {
    color: #fff;
    font-size: 2rem;
}

.sports {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
}

.sports-col2,
.sports-col1 {
    flex: 1;
    padding: 0;
    margin: 0px 10px;
    overflow: hidden;
}

.sports-col1 {
    position: relative;
}

.sports-col1 img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

.sports-col1:hover .sports-col1-img {
    transform: scale(1.1);
    cursor: pointer;
}

.sports-col2 {
    display: flex;
    flex-direction: column;
}

.col2-div1 {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.col2-div2 {
    position: relative;
    margin-top: 10px;
    overflow: hidden;
}

.col2-div1:hover .sp-1 {
    transform: scale(1.1);
    cursor: pointer;
}

.col2-div2:hover .sp-2 {
    transform: scale(1.1);
    cursor: pointer;
}

.sports-col2-img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    transition: transform 1s;
}

.sport-tag {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #513f83;
    color: white;
    padding: 5px;
    width: fit-content;
}

.sport-tag p {
    text-align: center;
    align-items: center;
    font-size: 20px;
    margin: 5px;
}

/* ICT SERVICES */
.ict-row {
    margin: 10px 10px;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}

.ict-resource-row {
    padding: 0 10px;
}

.ict-resource {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 2px 0;
}

.ict-resource:hover {
    color: blue;
}

.ict-resource i {
    margin-right: 8px;
}

/* Events */
.find-events {
    width: 100%;
    max-width: 98%;
    padding: 15px;
    margin: 10px auto;
    background-color: white;
    border-radius: 5px;
}

.event-form {
    width: 100%;
    display: flex;
    align-items: center;
}

.form-group {
    width: 30%;
    display: flex;
    align-items: center;
}

.event-form {
    padding: 10px;
    border-bottom: 2px solid #513f83;
}

.event-form input,
select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 1px #513f83;
}

.search-btn {
    border: none;
    border-radius: 5px;
    padding: 8px;
    background-color: #513f83;
    color: white;
    cursor: pointer;
}

.search-btn:hover {
    background-color: white;
    color: #513f83;
    border: 1px solid #513f83;
}

.event-img {
    overflow: hidden;
}

.event-img img {
    width: 100%;
    height: 200px;
    border-radius: 3px;
    transition: transform 0.8s;
}

.main-events {
    background-color: white;
    padding: 20px;
    border-radius: 2px;
    margin: 10px;
}

.events-cont {
    margin: 15px 30px;
    padding: 10px;
    border-bottom: 1px solid rgb(230, 226, 226);
}

.events-cont:hover .event-img img {
    transform: scale(1.1);
}

.stamps {
    display: flex;
    align-items: center;
}

.stamps i,
.stamps span,
.event-content p,
.event-content label {
    font-weight: normal;
    font-size: 17px;
    margin: 8px 5px;
    color: rgb(92, 89, 89);
    text-align: justify;
}

.event-btn {
    margin-top: 30px;
    width: 100%;
}

.link {
    color: black;
}
.link:hover {
    color: #513f83;
}

/* event */
.event-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    margin: 10px 0;
}

.event-header p {
    font-size: 20px;
    color: rgb(78, 76, 76);
    margin-top: 30px;
}

.event-header h2 {
    font-size: 45px;
    margin: 0 0 20px 0;
}

.event-header img {
    width: 90%;
}

.event-row {
    width: 90%;
    margin: 10px auto;
    padding: 0;
    display: flex;
}

.about-event {
    width: 100%;
    margin: 10px 0;
    padding: 50px;
    background-color: white;
}

.about-event p {
    font-size: 18px;
    color: rgb(78, 76, 76);
    text-align: justify;
}

.other-event-det,
.event-speaker,
.event-thoughts {
    background-color: white;
    padding: 30px;
    margin: 10px 0;
    height: fit-content;
}

.other-event-det {
    position: sticky;
    top: 0;
    bottom: 0;
}

.event-detail {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px solid #cbc0e7;
}

.event-detail div {
    display: flex;
    align-content: center;
}

.event-detail div i {
    margin: 0 10px;
    color: #513f83;
}

.event-detail div h6 {
    font-weight: 600;
}

.event-detail label {
    color: rgb(88, 87, 87);
}

.exp-flag {
    background-color: #a895dd;
    padding: 5px;
    border-bottom: none;
    border-left: 3px solid #513f83;
}

.event-socials {
    border-bottom: none;
    padding: 10px;
    margin: 10px 0;
}

.event-socials i {
    border: 1px solid #cbc0e7;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.event-socials i:hover {
    background-color: #513f83;
    color: white;
}

.speaker-profile {
    width: 100%;
    padding: 10px;
    margin: 5px;
    display: flex;
}

.speaker-profile img {
    width: 25%;
    margin-right: 25px;
    border-radius: 50%;
}

.speaker-details {
    margin: 5px;
    padding: 5px;
}

.speaker-details h5 {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 2px;
}

.speaker-details label,
.speaker-details p {
    color: rgb(94, 92, 92);
    margin-bottom: 10px;
}

.event-form2 {
    width: 100%;
    flex-direction: column;
    border: none;
}

.event-form2 input,
.event-form2 select {
    width: 48%;
    border: 1px solid #513f83;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0px 1px #513f83;
}

.event-form2 textarea {
    width: 98%;
    border: 1px solid #513f83;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 1px #513f83;
}

.event-inputs {
    width: 100%;
    display: flex;
}

/* Staff Profile */
.profile {
    width: 95%;
    margin: 5px auto;
    padding: 5px;
    display: flex;
}

.short-profile {
    width: 30%;
    margin-right: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.short-profile img {
    width: 80%;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px purple;
}

.short-profile span {
    font-size: 18px;
    margin-top: 5px;
}

.long-profile {
    width: 65%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.biodata {
    width: 95%;
    margin: 5px auto;
    padding: 2px;
}

.biodata h5,
.personal-contacts h5,
.office-contacts h5,
.about span {
    font-size: 18px;
    border-bottom: 2px solid purple;
    margin-bottom: 5px;
    width: fit-content;
}

.bio-tb {
    width: 98%;
    margin: 10px auto;
    border-collapse: collapse;
    font-size: 16px;
    box-shadow: 1px 1px 3px purple;
    border-radius: 5px;
}

.bio-tb th {
    padding: 10px;
    border: 1px solid white;
}

.bio-tb tr {
    padding: 5px;
    width: 100%;
}

.bio-tb tbody tr td {
    padding: 10px;
}

.bio-tb tbody tr:nth-child(odd) {
    background-color: rgb(218, 215, 215);
}

.personal-contacts,
.office-contacts {
    display: flex;
    flex-direction: column;
}

.p-contact {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 5px 0;
}

.p-contact i {
    margin-right: 10px;
}

.other-contacts {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 10px 0;
}

.personal-contacts,
.office-contacts {
    width: 45%;
}

.about-box {
    width: 95%;
    margin: 10px auto;
    padding: 5px;
}

.about {
    width: 100%;
    margin: 5px;
}

.about p {
    font-weight: normal;
    margin: 20px 5px;
    text-align: justify;
}

.q-category button {
    width: max-content;
}

.q-table th {
    background-color: white;
    color: black;
    border-bottom: 1px solid black;
}

.prof-qual-table {
    display: none;
}

@media screen and (max-width: 950px) {
    .campus-row {
        margin: 10px 5px;
        padding: 10px 5px;
      }

      .campus-card img {
        width: 98%;
      }

      .campus-gallery div {
        width: 45%;
        margin: 4px;
      }

}

@media screen and (max-width: 480px) {
    .exploretxt h1 {
        font-size: 3rem;
    }

    .counter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
